.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  .logo-container {
    border: 1px solid black;
    .logo {
      width: 36px;
      height: 36px;
    }
  }
  .nav-links-container {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 24px;
    .nav-link {
      cursor: pointer;
    }
  }
}
